body {
    margin: auto;
    overflow: auto;
    background: linear-gradient(250deg, rgb(77, 0, 101) 3%, rgb(206, 60, 135) 38%, rgb(121, 48, 238) 68%, rgb(255, 25, 151) 98%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}